:root {
  --brand-purple: #570d37;
  --brand-violet: #1c47e5;
  --brand-magenta: #831453;
  --brand-steel-blue: #3d7a98;

  --brand-black: #000000;

  --brand-grey-darker: #201f1f;
  --brand-grey-dark: #303030;
  --brand-grey: #41474e;
  --brand-grey-light: #8b98a9;
  --brand-grey-lighter: #ebebeb;
  --brand-grey-dimmed: #f7f7f7;

  --color-primary: #831453;

  --brand-gradient: linear-gradient(
    to right,
    #6d1145 0%,
    #831453 28%,
    #831453 72%,
    #6d1145 100%
  );
}
