:root {
  --brand-purple: #570d37;
  --brand-violet: #1c47e5;
  --brand-magenta: #831453;
  --brand-steel-blue: #3d7a98;

  --brand-black: #000000;

  --brand-grey-darker: #00000f;
  --brand-grey-dark: #30303f;
  --brand-grey: #41414f;
  --brand-grey-light: #82828f;
  --brand-grey-lighter: #e3e3ef;
  --brand-grey-dimmed: #f6f6ff;

  --color-primary: #831453;

  --brand-gradient: linear-gradient(
    to right,
    #6d1145 0%,
    #831453 28%,
    #831453 72%,
    #6d1145 100%
  );
}
