.container {
  position: relative;
}

.waves {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 40rem;
  margin: auto;
}

.box {
  max-width: 40rem;
  height: 100%;
  background-color: var(--background-content);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--spacer) calc(var(--spacer) / 2);
}

.box h3 {
  text-transform: lowercase;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--spacer) / 2);
  justify-items: center;
}

@media screen and (min-width: 66rem) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--spacer);
  }
}
