.searchWrap {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacer) * var(--line-height));
}

.section {
  margin-top: calc(var(--spacer) * 2);
}

.section h3 {
  color: var(--font-color-heading);
}

.section [class*='button'] {
  margin-top: var(--spacer);
}
