.link {
  color: var(--color-primary);
}

.link svg {
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  fill: var(--color-primary);
}

.link code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0;
}
