.gradient {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    190deg,
    var(--brand-pink) -15%,
    var(--brand-violet) 20%,
    rgba(113, 0, 243, 0) 65% /* brand-purple transparent */
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
