.menu {
  width: 100%;
  padding: calc(var(--spacer) / 2);
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--brand-gradient);
}

.logo {
  order: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.navigation {
  order: 3;
  margin-top: calc(var(--spacer) / 2);
  text-align: center;
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem);
  background: var(--brand-black);
}

.actions {
  order: 2;
  display: flex;
}

.actions > * {
  margin: 0 calc(var(--spacer) / 6);
}
.actions > *:last-child() {
  margin-right: 0;
}
.actions > *:first-child() {
  margin-left: 0;
}

.title {
  display: none;
}

.navigation {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.navigation::-webkit-scrollbar,
.navigation::-moz-scrollbar {
  display: none;
}

.navigation li {
  display: inline-block;
  vertical-align: middle;
  margin-right: calc(var(--spacer) / 3);
  margin-left: calc(var(--spacer) / 3);
}

.link {
  display: block;
  padding: calc(var(--spacer) / 2);
  text-transform: lowercase;
  color: var(--brand-grey-lighter);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  position: relative;
  z-index: 1;
}

.link:hover,
.link:active,
.link:focus {
  background: var(--brand-purple);
  color: #86b7ce;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.actions input,
.actions button,
.actions div[class*='tooltip'],
.actions div[class*='network'] {
  border-color: var(--brand-grey-lighter);
  background: transparent;
}

.actions svg {
  fill: var(--brand-white);
}

.logo svg {
  margin-right: calc(var(--spacer) / 3);
}

.actions button {
  text-transform: none;
}

@media screen and (min-width: 44rem) {
  .menu {
    justify-content: start;
  }

  .actions {
    margin-left: auto;
    padding-right: var(--spacer);
  }

  .link {
    padding: calc(var(--spacer) / 2) var(--spacer);
  }

  .logo {
    padding-left: var(--spacer);
  }
}
