.menu {
  width: 100%;
  padding: calc(var(--spacer) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  order: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.navigation {
  order: 3;
  margin-top: calc(var(--spacer) / 2);
  text-align: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem);
}

.actions {
  order: 2;
  display: flex;
}

.actions > * {
  margin: 0 calc(var(--spacer) / 6);
}
.actions > *:last-child() {
  margin-right: 0;
}
.actions > *:first-child() {
  margin-left: 0;
}

.title {
  display: none;
}

@media screen and (min-width: 44rem) {
  .menu {
    justify-content: start;
  }

  .navigation {
    order: 2;
    width: auto;
    margin: 0;
    text-align: left;
    border: none;
  }

  .actions {
    order: 3;
    margin-left: auto;
  }
}

@media screen and (min-width: 65rem) {
  .menu {
    padding: var(--spacer);
  }

  .title {
    margin: 0;
    margin-right: var(--spacer);
    display: block;
    color: var(--brand-grey-dimmed);
    font-size: var(--font-size-h4);
  }
}

.navigation {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.navigation::-webkit-scrollbar,
.navigation::-moz-scrollbar {
  display: none;
}

.navigation li {
  display: inline-block;
  vertical-align: middle;
  margin-right: calc(var(--spacer) / 3);
  margin-left: calc(var(--spacer) / 3);
}

.link {
  display: block;
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
  text-transform: lowercase;
  color: var(--brand-grey-lighter);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  position: relative;
  z-index: 1;
  padding: calc(var(--spacer) / 4);
}

.link:after {
  content: '';
  position: absolute;
  background-color: var(--color-primary);
  height: 2px;
  left: 1px;
  right: 1px;
  bottom: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.actions input,
.actions button,
.actions div[class*='tooltip'],
.actions div[class*='network'] {
  border-color: var(--brand-grey-lighter);
  background: transparent;
}

.actions svg {
  fill: var(--brand-grey-lighter) !important;
}
.actions *:hover svg:not(*[class*='searchIcon']) {
  fill: var(--brand-grey-dimmed) !important;
}

.actions,
.link:hover,
.link:focus,
.link:active {
  color: var(--brand-grey-dimmed);
}

.link[aria-current],
.link[aria-current]:hover,
.link[aria-current]:focus {
  color: var(--brand-grey-dimmed);
}

.link:hover:after,
.link:focus:after {
  transform: scaleX(1);
}

.logo svg {
  margin-right: calc(var(--spacer) / 3);
}

.navigation li:last-child .link {
  padding-right: 0;
}

.actions button {
  text-transform: none;
}
